html {
  height: 100%;
}

body {
  min-height: 100%;
	margin: 0; padding: 0;
        position: relative;
    	width: 100%;
    background-color: black;
}
h1
{
  text-align:center;  
}

header
{
    display: flex;
    height: 100px;
    background-color: deeppink;
    top:0;
}

header p{
margin-left: 64px;
color:white;
font-size: 32px;
}



.cadre{
    margin: auto; width: 80%; background-color: white; box-shadow: 3px 3px 5px 0px #656565;    border: 1px solid black; border-radius: 30px;  margin-top: 32px;
    height:700px; padding: 20px;
}

#cadre2{
    margin: auto; width: 45%; background-color: white; box-shadow: 3px 3px 5px 0px #656565;    border: 1px solid black; border-radius: 30px;  margin-top: 32px;
   padding: 20px; text-align: center;
}



#logo img
{
    background-color: white;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 10px;
}
.ligneImg
{
    display: inline-flex;
}

.ligneImg img
{
    
    margin:10px; 
    width:225px;
    height: 150px; 
    border:1px solid grey; 
    border-radius:5px; 
    cursor:pointer;
}

.ligneImg2 img
{
    
    margin:10px; 
    margin-bottom: 32px;
    width:225px;
    height: 150px; 
    border:1px solid grey; 
    border-radius:5px; 
    cursor:pointer;
}

#resultat
{
    margin:auto;
    width: 50%;
position: absolute;
/*    border:1px solid grey; */
/*    border-radius:5px; */
       z-index: 1;
        border: 2px dotted black;
    height:500px;
    width:500px;
}
/*
#resultat img
{
    width: 100%;
}*/

#resultat img{

}

#grandeBoite{
    width: 100%;
    display: flex;
/*    border: 1px solid grey;
     border-radius:5px; */

}

#boiteImg{
        position: relative;
    width:50%;
/*        border: 1px solid grey;*/

}

#boiteForm{
     width:50%; 
/*        border: 1px solid grey;*/
      padding: 50px;
}

#boiteform2{

}



label
{
    color:black;
    width: 150px;
    display: block;
    float: left;
}


#divHaut
{
position: absolute;
left:0;
z-index: 2;
 font-family: 'Indie Flower', cursive;  
    
}

#divBas
{
position: absolute;
left:0; 
margin-top:300px;
z-index: 2;
    text-align: center;
font-family: 'Indie Flower', cursive; 
    
    
}

#groupe
{
margin-top : 100px;
justify-content: space-between;
align-items: center;
}

.boutonEnregistrer{
    text-decoration: none;
    background-color: deeppink;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color:black;
    font-weight: bold;

box-shadow: 3px 3px 5px 0px #656565;

}

.boutonEnregistrer:hover{
    color: deeppink;
    background-color: white;
        font-weight: bold;

}
footer
{
position: absolute; bottom: 0; left: 0; right: 0;
    height:50px;
    background-color: deeppink;

}

footer p{color:white; text-align: center;}

footer a:link, a:visited, a:active{
    color:white;text-decoration: none;
}

footer a:hover {
    color:grey;
}