#ligneImg
{
    display: inline-flex;
}

#ligneImg img
{
    
    margin:10px; 
    width:225px;
    height: 150px; 
    border:1px solid grey; 
    border-radius:5px; 
    cursor:pointer;
}
#resultat
{
    margin:auto;
    width: 50%;
position: absolute;
/*    border:1px solid grey; */
/*    border-radius:5px; */
       z-index: 1;
}
/*
#resultat img
{
    width: 100%;
}*/



#grandeBoite{
    width: 100%;
    display: flex;
/*    border: 1px solid grey;
     border-radius:5px; */

}

#boiteImg{
        position: relative;
    width:50%;
/*        border: 1px solid grey;*/

}

#boiteForm{
     width:50%; 
/*        border: 1px solid grey;*/
      padding: 50px;
}


#divHaut
{
position: absolute;
left:0;
z-index: 2;
    
}

#divBas
{
position: absolute;
left:0; 
margin-top:300px;
z-index: 2;
    text-align: center;
    
    
}